name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        run: |
            docker build -t ${{ secrets.DOCKER_USERNAME }}/devops-demo:${{ github.sha }} .
            docker tag ${{ secrets.DOCKER_USERNAME }}/devops-demo:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/devops-demo:latest
            docker push ${{ secrets.DOCKER_USERNAME }}/devops-demo:${{ github.sha }}
            docker push ${{ secrets.DOCKER_USERNAME }}/devops-demo:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo yum install docker -y
            sudo systemctl start docker
            sudo systemctl enable docker

            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/devops-demo:latest

            sudo docker stop app || true
            sudo docker rm app || true

            sudo docker run -d -p 5000:5000 \
              --name app \
              -e APP_VERSION=${{ github.sha }} \
              ${{ secrets.DOCKER_USERNAME }}/devops-demo:latest
